<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDZ4EWBPSQPwqBTJtUm9ut9nfzPZj17uuo</string>
	<key>GCM_SENDER_ID</key>
	<string>336241483230</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tunalink</string>
	<key>PROJECT_ID</key>
	<string>tunalink-auth-2</string>
	<key>STORAGE_BUCKET</key>
	<string>tunalink-auth-2.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:336241483230:ios:92c60012b449c8539d914f</string>
</dict>
</plist>